@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Fonts */
@import url('./fonts.css');

body {
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'NewYork', Georgia, 'Times New Roman', Times, serif;
}

.menu {
  @apply lg:space-x-8;
}

.menu li a {
  @apply lg:p-0 hover:bg-transparent hover:text-gray-400 focus:bg-transparent focus:font-bold;
}

.landing-page-menu li a {
  @apply font-semibold underline uppercase text-2xl sm:text-3xl;
}

.hero-image {
  background-image: url('/brittani_and_klaven_header.jpg');
  @apply min-h-[60vh] lg:min-h-[90vh] xl:min-h-screen;
}

.scroll-left {
  animation: scroll-left 10s linear infinite;
}

.scroll-right {
  animation: scroll-right 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-144vw);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(144vw);
  }
}
