@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Fonts */
@import url('./fonts.css');

body {
  /* font-family: 'SF Pro', Arial, Helvetica, sans-serif; */
  font: 15px/1.6em 'SF Pro', Arial, Helvetica, sans-serif;
  @apply h-screen w-screen relative bg-project-white;
}

h1,
h2,
h3,
h4,
h5,
nav li a {
  font-family: 'NewYork', Georgia, 'Times New Roman', Times, serif;
}

p {
  font: 15px/1rem;
}

.menu {
  @apply lg:space-x-8;
}

.menu li a {
  @apply lg:p-0 hover:bg-transparent hover:text-gray-400 focus:bg-transparent focus:font-bold;
}

.landing-page-menu li a {
  @apply font-semibold underline uppercase text-2xl sm:text-3xl;
}

.hero-image {
  background-image: url('/brittani_and_klaven_header.webp');
  @apply min-h-[60vh] lg:min-h-[90vh] xl:min-h-screen;
}

.menu-image {
  background-image: url('/brittani_and_klaven_header.webp');
}

.our-story-img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.how-we-met-img {
  background-image: url('/louvre_brittaniklaven1.webp');
}

.proposal-img {
  background-image: url('/proposal.jpeg');
}

.early_dating_one {
  background-image: url('/early_date.jpeg');
}

.scroll-left {
  animation: scroll-left 10s linear infinite;
}

.scroll-right {
  animation: scroll-right 10s linear infinite;
}

.sf-pro-italic {
  font-family: 'SF Pro Italic', Arial, Helvetica, sans-serif;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-144vw);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(144vw);
  }
}
