@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Fonts */
@import url('./fonts.css');

body {
  font-family: 'SF Pro', Arial, Helvetica, sans-serif;
  @apply pt-20 sm:pt-[84px]
}

h1 {
  font-family: 'NewYork', Georgia, 'Times New Roman', Times, serif;
}

.menu {
  @apply lg:space-x-8
}

.menu li a{
  @apply lg:p-0 
}


.hero-image {
  background-image: url('/PortraitWeddingHERO.png');
  @apply min-h-[60vh] lg:min-h-[70vh] xl:min-h-screen
}